<h2><%= I18n.t 'titles.login' %></h2>
<%= I18n.t 'paragraphs.login' %>
<% form_tag(:action => "login") do |f| %>
  <p>
    <%= label_tag I18n.t 'labels.username_or_email' %><br />
    <%= text_field_tag "username_or_email" %>
  </p>
  <p>
    <%= label_tag I18n.t('labels.password') + ':' %><br />
    <%= password_field_tag "password" %>
  </p>
  <p>
    <%= submit_tag I18n.t('buttons.login') %>
  </p>
<% end %>
