<%= render :partial => "calendar", :locals => { :all_event_instances => @all_event_instances } %>

<div id="calendar_content">
  <h2><%= I18n.t 'titles.upcoming_events' %></h2>
  <ul>
  <% @upcoming_event_instances.each do |event_instance| %>
    <li><%= event_instance.date%>: <%= render :partial => "event_link", :locals => { :event_instance => event_instance } %><%= 
    event_instance.place ? ", " + event_instance.place.title : "" %></li>
  <% end %>
  </ul>
</div>
